<ion-header>
  <ion-toolbar>
    <ion-title>Add Property</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="property.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="property.description" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <div class="modal-buttons">
    <ion-button expand="full" (click)="saveProperty()">Save Property</ion-button>
  </div>
</ion-content>
