<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/admin-dashboard" fill="clear" class="back-button">
      <ion-icon name="arrow-back" class="back-icon"></ion-icon>
      <span class="back-label">Back</span> </ion-back-button>
    </ion-buttons>
    <ion-title>Admin Property Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-listing-content">
  <ion-list>
    <ion-item *ngFor="let category of categories" class="category-item">
      <ion-label>{{ category.name }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="removeCategory(category)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-button expand="full" fill="clear"  shape="round" (click)="addCategory()" class="add-category-button">
        <ion-icon name="add-circle-outline"></ion-icon> New Category
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let category of categories" class="category-list">
    <ion-item-divider class="category-divider">
      <ion-label>{{ category.name }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="toggleItems(category)" class="show-hide">
          <ion-icon [name]="category.showItems ? 'eye-off' : 'eye'"></ion-icon>
          {{ category.showItems ? 'Hide Items' : 'Show Items' }}
        </ion-button>
      </ion-buttons>
    </ion-item-divider>

    <ion-list *ngIf="category.showItems">
      <ion-item-sliding *ngFor="let item of category.items" class="item-sliding">
        <ion-item class="item">
          <ion-thumbnail slot="start" class="item-thumbnail">
            <ion-img [src]="item.image"></ion-img>
          </ion-thumbnail>
          <ion-label class="item-label">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p>Bedrooms: {{ item.bedrooms }}</p>
            <p>Parking: {{ item.parking }}</p>
            <p>Bathrooms: {{ item.bathrooms }}</p>
          </ion-label>
          <ion-buttons slot="end" class="item-buttons">
            <ion-button (click)="removeItem(category, item)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button (click)="editItem(item)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item-options side="end" class="item-options">
          <ion-item-option (click)="editItem(item)">Edit</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item>
        <ion-button expand="full"  shape="round" (click)="addItem(category)" class="add-item-button">
          <ion-icon name="add-circle-outline"></ion-icon> New Item
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
